h1, h5, p {
  font-family: 'Covered By Your Grace', cursive;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    width: 600px;
  }
}

body{
  /* background-image: url("Assets/Images/black.jpg"); */  
  border: 10px solid blue);
}
